body{
    background-image: url("https://i.pinimg.com/474x/70/6d/1e/706d1e17ddb9188407952985c83c4ab7.jpg");
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: 100% 750px;
  }
  
  nav{
      color: rgb(3, 35, 24);
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      display: flex;
      background-color: rgb(18, 98, 137);
      justify-content: end;
      
      
  }
  .p4,.p3,.p2,.p1{
      margin-right:40px;
  }
  
  .p2:hover{
      color: rgb(23, 36, 5);
      cursor: pointer;
      transition: 0s ease-in-out;
      
  }
  .p3:hover{
      color: rgb(41, 62, 9);
      cursor: pointer;
      transition: 0s ease-in-out;
      
  }.p4:hover{
      color: rgb(37, 57, 8);
      cursor: pointer;
      transition: 0s ease-in-out;
      
  }.p1:hover{
      color: rgb(25, 37, 7);
      cursor: pointer;
      transition: 0s ease-in-out;
      
  }
  img{
      height: 50px;
      margin-right: 930px;
      margin-top: 5px;
      
  }
  
  
  /* video{
      margin-top: 20px;
  } */
  
  input{
      width: 65%;
      padding: 20px;
      margin-top: 40px;
      display: flex;
      margin-left: 280px;
      border-radius: 20px;
  }
  
  input:hover{
      background-color: rgb(41, 65, 6);
      transition: 0s ease-in;
      animation: alternate-reverse;
      cursor: pointer;
      
  }
  
  .v6{
      margin-top: 40px;
      width: 100%;
      height: 300px;
      
      display: flex;
      align-items: center;
      justify-content: space-around;
     
  }
  
  .r1{
     background-color: black;
     height: 280px;
     width: 20%;
     margin-left: 20px;
     background-image: url("https://th.bing.com/th/id/OIP.G4BHa_WI5AqeiPh-T_NJNAHaFP?rs=1&pid=ImgDetMain");
     background-repeat: no-repeat;
     background-size: 100% 300px;
     border-radius: 20px;
     border-style: solid;
      border-width: 5px;
    
  }
  .r2{
      background-color: black;
      height: 280px;
      width: 20%;
      margin-left: 20px;
      background-image: url("https://th.bing.com/th/id/OIP.G4BHa_WI5AqeiPh-T_NJNAHaFP?rs=1&pid=ImgDetMain");
     background-repeat: no-repeat;
     background-size: 100% 300px;
     border-radius: 20px;
     border-style: solid;
      border-width: 5px;
     
   }.r3{
      background-color: black;
      height: 280px;
      width: 20%;
      margin-left: 20px;
      background-image: url("https://th.bing.com/th/id/OIP.G4BHa_WI5AqeiPh-T_NJNAHaFP?rs=1&pid=ImgDetMain");
     background-repeat: no-repeat;
     background-size: 100% 300px;
     border-radius: 20px;
     border-style: solid;
      border-width: 5px;
     
   }.r4{
      background-color: black;
      height: 280px;
      width: 20%;
      margin-left: 20px;
      background-image: url("https://th.bing.com/th/id/OIP.G4BHa_WI5AqeiPh-T_NJNAHaFP?rs=1&pid=ImgDetMain");
      background-repeat: no-repeat;
      background-size: 100% 300px;
      border-radius: 20px;
      
      border-style: solid;
      border-width: 5px;
     
   }
  
   .v7{
      display: flex;
   }
   .w1{
      margin-left: 140px;
      color: rgb(24, 38, 4);
   }
   a{
      text-decoration: none;
   }
   .w2{
      margin-left: 270px;
      color: rgb(32, 48, 9);
   }
   .w3{
      margin-left: 280px;
      color: rgb(39, 57, 12);
      
   }
   .w4{
      margin-left: 280px;
      color: rgb(37, 55, 10);
   }
  
   #ss{
      margin-top: 10px;
      width: 100%;
      height: 120px;
      
      border-radius: 30px;
   }
  
  .r1:hover{
      color: darkviolet;
      transition: 1s ease;
      
      
  }
  .r2:hover{
      color: darkviolet;
      transition: 1s ease;
      
  }
  .r3:hover{
      color: darkviolet;
      transition: 1s ease;
      
  }
  .r4:hover{
      color: darkviolet;
      transition: 1s ease;
      
  }